* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/matrixgridfloor.png');
}

hr{
  opacity:0;
}

button {
  padding: 0;
}

Link:hover {
  text-decoration: none;
}

Link {
  color: inherit;
}

.jumbotron {
  border: 2px solid white;
  margin: 0;
}

.bungeeFont {
  font-family: 'Bungee Inline', cursive;
}

.monotonFont {
  font-family: 'Monoton', cursive;
}

.rainbow {
  background: linear-gradient(270deg, #0f8a6b, #28a70c, #cad70d, #d73b0d, #d70dc6);
  background-size: 1000% 1000%;
  animation: AnimationName 11s ease infinite; 
}

@keyframes AnimationName {
  0% {
      background-position: 96% 0%
  }
  50% {
      background-position: 5% 100%
  }
  100% {
      background-position: 96% 0%
  }
}

.panel {
  background-color: rgba(250,250,250,.3);
  margin-top: 10px;
}